.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 3,3,3,2;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.button:pressed {
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
}

.toggle-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 3,3,3,2;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.toggle-button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.toggle-button:selected:focused  {
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
}

.toggle-button:selected  {
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
}

.toggle-button:focused  {
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
}

.text-field {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 3,3,3,2;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
	
}
.text-field Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.text-field:focused {
	-fx-effect: innershadow( gaussian , #000000 , 7, 0, 0, 3);
}

.check-box *.box {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,2,3,4;
    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.check-box:selected .mark {
	-fx-mark-color: #FFFFFF;
}

.check-box Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.scroll-pane  *.scroll-bar:vertical {
    -fx-opacity: 0;
}

.table-view  .column-header {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#footer {
    -fx-background-color:
    linear-gradient(#1B1B1B 0%, #373737 40%, #373737 100%);
    -fx-background-insets: 0;
}